@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-white text-slate-900 antialiased;
    }

    a {
        color: #45b2e9;
    }

    a:hover {
        color: #2c85b3;
    }
}
